doctype html

html(lang="en")
  head
    title Landing Page
    <meta charset="utf-8">
  body
    include includes/header.pug
    
    block content
      
    include includes/footer.pug
